@charset "utf-8";
/* CSS Document */
body,html{width:100%; margin:0px; padding:0px; overflow-x:hidden;text-align:center; background:#F7B52D}
.viewport{ margin:0 auto; background:#FFF}

header{ width:100%;}
.home1{ left:8.5rem; top:2.1rem; z-index:10; width:24.75rem;}
.home2{ top:11.7rem; left:5.7rem; z-index:8; width:24.7rem;}
.home3{ left:2.5rem;  top:9rem; z-index:5; width:20.05rem;}
.home4{ left:16.2rem;  top:22.6rem; z-index:12; width:10.55rem;}
.feiji{ left:17.25rem;  top:34rem; z-index:12; width:1.55rem;}
.homelogo{left:33rem;  top:1.5rem; z-index:12; width:1.9rem;}
.homebot{left:1.8rem;  bottom:1rem; z-index:12; width:32.4rem;}
.home5{ left:11.45rem; top:15.9rem; z-index:15; width:4.5rem;}
.home6{ left:16.7rem; top:11rem; z-index:15; width:15.15rem;}
.home7{ left:16.7rem; top:14.5rem; z-index:15; width:15.15rem;}
.home8{ left:16.7rem; top:18rem; z-index:15; width:15.15rem;}
.homefot{ width:100%; background:#F7B52D; padding-bottom:2.2rem}

.top1{ left:50%; margin-left:-6.925rem; top:2.8rem; width:13.85rem;}
.top2{ top:3rem; right:2.8rem; width:1.9rem;}
.top3{ left:50%; margin-left:-6.8rem; bottom:6.5rem; width:13.6rem;}
.top4{ left:50%; margin-left:-3.85rem;bottom:1.5rem; width:7.7rem;}
.top5{ left:50%; margin-left:-2.75rem; top:7rem; width:5.5rem;}
.nav{ width:100%; height:4rem; background:#12629C;}
.nav ul li{float:left;width:20%;overflow:visible;}
.nav ul li a{ display:inline-block; border-left:1px solid #4181B0; width:100%; height:4rem;}
.nav ul li a:hover,.nav ul li a.hover{ background:#F7B52D;}
.nav ul li p{ font-size:1.5rem;line-height:0.8; padding-top:0.8rem;}
.nav ul li span{ font-size:0.8rem;line-height:1.1}

footer{width:100%;background:#1677BC;}
.tubiao ul{width:26%;overflow:visible;margin:0 auto;padding-top:0.5rem; padding-bottom:3rem;}
.tubiao ul li{float:left;clear:none;width:33%;overflow:visible;}

.type_List{padding:1.25rem 0 1.5rem 0;}
.type_List a{ display:inline-block; height:2rem;line-height:2rem; width:25%; margin:0 0.25rem; border:1px solid #CCC;border-radius:1rem;}
.type_List a:hover{border-color:#12629C; color:#12629C;}
.type_List a.hover{ color:#FFF; background:#12629C; border-color:#12629C;}

.case ul li{ width:94%;overflow:hidden;margin:0 auto; text-align:left; margin-bottom:1rem; margin-top:1.5rem;}
.more,#loadmore{ width:15.85rem; height:2.65rem; line-height:2.65rem; background:#F7B52D; margin:2.5rem auto 2.3rem; border-radius:1.4em; -webkit-border-radius:1.4em; -moz-border-radius:1.4em; -o-border-radius:1.4em;-khtml-border-radius:1.4em;}
.more:hover,#loadmore:hover{ background:#12629C;}


.huodong ul li{width:94%;overflow:hidden;margin:0 auto; margin-bottom:2.5rem; margin-top:1.5rem;}
.huodong ul li:nth-of-type(odd) .pai{ background:url(../img/pai1.png) no-repeat; width:30%; height:10.35rem; background-size:100% 100%; margin:0 auto; margin-bottom:-5.175rem; position:relative; z-index:5}
.huodong ul li:nth-of-type(even) .pai{ background:url(../img/pai2.png) no-repeat; width:30%; height:10.35rem; background-size:100% 100%; margin:0 auto; margin-bottom:-5.175rem; position:relative; z-index:5}
.huodong ul li .dibu i{ background:url(../img/tb4.png) no-repeat center; width:1.8rem; height:1.8rem; background-size:100% 100%; display:inline-block;}
.huodong ul li .dibu span{ padding-left:0.5rem; line-height:1}
.huodong ul li .xx{ width:100%; border-bottom:1px solid #DDD; border-top:1px solid #DDD; padding:0.5rem 0; margin:0.5rem 0;}

.pl ul li{ width:94%;overflow:hidden;margin:0 auto; text-align:left; margin-bottom:2.5rem; margin-top:1.5rem;}
.pl ul li .pltu{width:22%;float:left;}
.pl ul li .pltu img{ border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -o-border-radius:50%;-khtml-border-radius:50%; border:0.4rem solid #F6F6F6;}
.pl ul li .plcon{width:78%;background:url(../img/qipao.png) no-repeat;background-size:100%; float:left; padding-bottom:2rem;}
.pl ul li .plcon p{padding-left:2rem;padding-right:1rem;}

.dialog .content{overflow: hidden;}
.dialog .line{width:89%; line-height:3.5rem; font-size: 1.1rem; text-align:left; color:#777; margin:0 auto; overflow:hidden; margin-top:1rem;}
.dialog .line textarea, .dialog .line input[type="text"]{border: 1px solid #BBB; border-radius:0.5rem; line-height:2.2rem;height:2.2rem;padding-top:0.65rem;padding-bottom:0.65rem; font-size: 1.1rem; width:97%; padding-left:3%;}
.dialog .line input[type="text"]:hover,.dialog .line textarea:hover{border: 1px solid #666;}
.dialog .line .input{display: inline-block; width:98%;}

.tijiao{background-color:#FDA90D;border-radius:8px 8px 8px 8px;box-shadow:0 6px 0 #DC930B,0 6px 6px rgba(0,0,0,0.3);color:#FFFFFF;display:block;font-size:1.8rem;position:relative;text-align:center;text-decoration:none;transition:all 0.1s ease 0s;width:89%; height:4.5rem; line-height:4.5rem;margin:0.5rem auto 3rem;}
.tijiao:active{box-shadow:0 1px 0 #DC930B,0 3px 3px rgba(0,0,0,0.3);position:relative;top:6px;}

	.vaim .home2{-webkit-animation:bounceInDown 1s 0.5s 1 both;animation:bounceInDown 1s 0.5s 1 both;}
	.vaim .home1{-webkit-animation:bounceInLeft 1s 0.8s 1 both;animation:bounceInLeft 1s 0.8s 1 both;}
	.vaim .home3{-webkit-animation:bounceInRight 1s 1.1s 1 both;animation:bounceInRight 1s 1.2s 1 both;}	
	
	.vaim .home5{-webkit-animation:fadeInDown 0.5s 4s 1 both;animation:fadeInDown 0.5s 4s 1 both;}
	.vaim .home6{-webkit-animation:fadeInRight 0.5s 2s 1 both;animation:fadeInRight 0.5s 2s 1 both;}
	.vaim .home7{-webkit-animation:fadeInRight 0.5s 2.4s 1 both;animation:fadeInRight 0.5s 2.4s 1 both;}
	.vaim .home8{-webkit-animation:fadeInRight 0.5s 3.0s 1 both;animation:fadeInRight 0.5s 3.0s 1 both;}
	.vaim .home4{-webkit-animation:bounceIn 1s 3s 1 both;animation:bounceIn 1s 3s 1 both;}

	.vaim .feiji{-webkit-animation:fadeInLeftBig 2.5s 3.5s 1 both;animation:fadeInLeftBig 2.5s 3.5s 1 both;}
	.vaim .homelogo{-webkit-animation:fadeInDown 1.5s 0s 1 both;animation:fadeInDown 1.5s 0s 1 both;}


	.vain .top1{-webkit-animation:bounceInDown 1s 0.5s 1 both;animation:bounceInDown 1s 0.5s 1 both;}
	.vain .top5{-webkit-animation:flipInY 1s 1.2s 1 both;animation:flipInY 1s 1.2s 1 both;}
	.vain .top3{-webkit-animation:bounceIn 1s 1.5s 1 both;animation:bounceIn 1s 1.5s 1 both;}	
	.vain .top4{-webkit-animation:flipInY 1s 2.2s 1 both;animation:flipInY 1s 2.2s 1 both;}
	.vain .top2{-webkit-animation:fadeInDown 1.5s 2s 1 both;animation:fadeInDown 1.5s 2s 1 both;}
