@charset "UTF-8";
body,html{
    font-size: 0.24rem;
    background:#f6f6f6;
}
#information ul li{
   display:flex;
   flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height:0.9rem;
    background:#fff;
    font-size:0.3rem;
}

#information ul li:first-child{
    height:0.8rem !important;
    background:rgba(0,0,0,0);
    font-size:0.28rem;
    font-weight: 600;
    border-bottom:1px solid #ccc;
    box-sizing: border-box;
}
ul.user li{
    padding-left:0.3rem;
    display:block !important;
}
ul.user li p:last-child:after{
    content:"";
    display:inline-block;
    width:0.28rem;
    height:0.46rem;
    background:url('../image/icon_enter.svg')no-repeat center;
    background-size: cover;
    margin-left:0.2rem;
}
ul.user li p:last-child{
    display:flex;
    align-items: center;
    color:#666;
}
ul.user li .item_box{
    border-bottom:1px solid #ccc;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right:0.3rem;
    height:100%;
    box-sizing: border-box;
}
ul.user li:last-child .item_box{
    border-bottom:none;

}
.required{
    color:#f74f63;
}
ul.user li:first-child{
    line-height: 0.8rem;
}
ul.user li:last-child{
    border-bottom:1px solid #ccc;
    box-sizing: border-box;
}
ul.call li,ul.basic li{
   padding:0 0.3rem;
   height:auto !important;
}
ul.call li span:first-child,ul.basic li span:first-child{
    width:20%;
    text-align: right;
}
ul.basic li span:last-child,ul.call li span:last-child{
   color:#666;

}
ul.basic li span{
    padding:0.15rem 0;
}
ul.call li:nth-child(2){
    padding-top:0.4rem;
    padding-bottom:0.15rem;
}
ul.call li:last-child{
    padding-bottom:0.4rem;
    padding-top:0.15rem;
    border-bottom:1px solid #ccc;
    box-sizing: border-box;
}
ul.call li span:last-child,ul.basic li span:last-child{

    width:80%;
    padding-left:0.3rem;
}
ul.basic li:nth-child(3) span:last-child{

}
ul.basic li:nth-child(3) span:first-child{
    align-self: stretch;
}
ul.basic li:nth-child(2) span{
    padding-top:0.35rem;
}
ul.basic li:last-child span{
    padding-bottom:0.35rem;
}
.callbnt{
    padding:0.5rem 0.3rem;

}
.callbnt p{
    background:#1177ee;
    height:0.88rem;
    border-radius: 0.15rem;
    font-size:0.32rem;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#fff;
}