@charset "utf-8";
/* --------- wap公共样式css by jackLei on 2016-04-16 -- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,input,textarea,p,th,td,header,nav,section,footer,a,span{padding:0;margin:0; font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;box-sizing:border-box;}
body{color:#666;font-size: 0.12rem; background: #f5f5f5; min-width: 320px;max-width: 640px;margin:0 auto;}
form,input,textarea{outline: none;}
img{border:none; display: block;}table {border-collapse: collapse;border-spacing: 0;}
a{color:#666;text-decoration:none;}
a,a:hover{color:#666;}
h1,h2,h3{ font-weight: normal;}b,em{font-weight: normal;font-style: normal;}
li{list-style-type:none;}
.clearfix:after{content:'.';clear:both;display:block;height:0;visibility:hidden;font-size:0;line-height:0}




.tips-alert {display: none;}
@media screen and (orientation:landscape){
  .tips-alert{display:block;position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,.9);color:#fff;font-size:24px;font-weight:normal;text-align:center;line-height:34px;-webkit-tap-highlight-color:rgba(0,0,0,0);pointer-events:auto;z-index:9999}
  .tips-alert p{position:absolute;top:50%;left:0;width:100%;margin-top:55px}
  .rotate-iphone{width:74px;height:110px;background:url(../images/phone.png) no-repeat center top;background-size:contain;position:absolute;left:50%;top:50%;margin-left:-37px;margin-top:-80px}
  @-webkit-keyframes rotateSwing{0%{-webkit-transform:rotate(0)}50%{-webkit-transform:rotate(-90deg)}100%{-webkit-transform:rotate(0)}}@-ms-keyframes rotateSwing{0%{-ms-transform:rotate(0)}50%{-ms-transform:rotate(-90deg)}100%{-ms-transform:rotate(0)}}
  .rotate-iphone{-webkit-animation:rotateSwing 1.5s infinite ease-in;-ms-animation:rotateSwing 1.5s infinite ease-in}
}
