@font-face {
  font-family: 'nextgen';
  src:  url('fonts/nextgen.eot?kvk3hh');
  src:  url('fonts/nextgen.eot?kvk3hh#iefix') format('embedded-opentype'),
    url('fonts/nextgen.ttf?kvk3hh') format('truetype'),
    url('fonts/nextgen.woff?kvk3hh') format('woff'),
    url('fonts/nextgen.svg?kvk3hh#nextgen') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'nextgen' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pwd:before {
  content: "\e900";
}
.icon-tel-icon:before {
  content: "\e901";
}
.icon-uniE902:before {
  content: "\e902";
}
.icon-uniE903:before {
  content: "\e903";
}
.icon-uniE904:before {
  content: "\e904";
}
.icon-uniE905:before {
  content: "\e905";
}
.icon-uniE906:before {
  content: "\e906";
}
.icon-uniE907:before {
  content: "\e907";
}
.icon-uniE908:before {
  content: "\e908";
}
.icon-uniE909:before {
  content: "\e909";
}
.icon-uniE90A:before {
  content: "\e90a";
}
.icon-uniE90B:before {
  content: "\e90b";
}
.icon-uniE90C:before {
  content: "\e90c";
}
.icon-list:before {
  content: "\e90d";
}
.icon-made:before {
  content: "\e90e";
}
.icon-notice:before {
  content: "\e90f";
}
.icon-go:before {
  content: "\e910";
}
.icon-order:before {
  content: "\e911";
}
.icon-selecte:before {
  content: "\e912";
}
.icon-triangle:before {
  content: "\e913";
}
.icon-yes:before {
  content: "\e914";
}
.icon-like:before {
  content: "\e915";
}
